.button-pixel {
  position: relative;
  width: 100px;
  height: 40px;
  color: rgb(223, 32, 32);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  letter-spacing: 2px;
  margin: 20px;
  transition: 0.5s;
  border: 1px solid red;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
}

.button-pixel:hover {
  background: #ec0b36 url("./../images/pixel.png");
  background-size: 180px;
  transition-delay: 0.5s;
  animation: animate 0.5s steps(8) forwards;
  color:rgb(245, 237, 237)
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
