// .form-login {
//     display: flex;
//     flex-direction: column;
//     width: 30%;
//   }

//   .label-login-form {
//     width: 30%;
//   }

//   .input-login-form {
//     width: 70%;
//   }

// .text-danger {
//   color: red
// }

.body-login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #03a9f4;
  transition: 0.5s;
}

.body-login.active {
  background: #f43648;
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 20px;

  .blueBg {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 420px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
    display: flex;

    .box {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      button {
        cursor: pointer;
        padding: 10px 20px;
        background: #fff;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        border: none;
      }

      h2 {
        color: #fff;
        font-size: 1.2em;
        font-weight: 500;
      }
    }
  }

  .formBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;

    .signinForm {
      transition-delay: 0.25s;
    }

    .signupForm {
      transition-delay: 0s;
      left: 100%;
    }

    .form {
      position: absolute;
      width: 100%;
      padding: 50px;
      transition: 0.5s;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        h3 {
          margin: 0;
          font-size: 1.5em;
          color: #333;
          margin-bottom: 20px;
          font-weight: 500;
        }

        input {
          width: 100%;
          margin-bottom: 20px;
          padding: 10px;
          outline: none;
          font-size: 16px;
          border: 1px solid #333;
        }

        input[type="submit"] {
          background: #03a9f4;
          border: none;
          color: #fff;
          cursor: pointer;
          max-width: 100px;
        }

        .forgot {
          color: #333;
        }
      }
    }
  }

  .formBx.active {
    left: 50%;

    .signinForm {
      left: -100%;
      transition-delay: 0s;
    }

    .signupForm {
      left: 0;
      transition-delay: 0s;

      input[type="submit"] {
        background: #f43648;
      }
    }
  }

  @media screen and (max-width: 991px) {
    max-width: 400px;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;

    .blueBg {
      top: 0;
      height: 100%;

      .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
      }
      
      .box.signin {
        top: 0;
      }
    }

    .formBx {
      width: 100%;
      height: 500px;
      top: 0;
      box-shadow: none;
    }

    .formBx.active {
      left: 0;
      top: 150px;
    }
  }
}
